# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
.venv/
env/

# Node
node_modules/
dist/
.cache/
*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Vite
frontend/dist/
frontend/.vite/
